<configuration>
<config>
<add key="globalPackagesFolder" value="packages"/>
</config>
<packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Kecyzar.myget" value="https://www.myget.org/F/keyczar-dotnet-ci/api/v3/index.json" protocolVersion="3" />
</packageSources>
</configuration>